<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="My Blog" href="/rss.xml">
  <link rel="stylesheet" href="/assets/css/highlight.css">
  <!--<link rel="stylesheet" href="/assets/css/tufte.css">-->
</head>
<body>

  {% include navigation.html %}

    {% if page.profile %}
    {% include profile.html %}
    {% endif %}

    <section id="wrapper" class="{% if page.profile %}home{% endif %}">
        {{ content }}
    </section>

    <script>
        var $ssrc=["//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js","/assets/js/main.js","/assets/js/highlight.js"],dfr=function(){for(var b,a=0;a<$ssrc.length;a++)b=document.createElement("script"),b.src=$ssrc[a],document.body.appendChild(b),0<=$ssrc[a].indexOf("highlight.js")&&($ssrc[a].addEventListener?$ssrc[a].addEventListener("load",hljs.initHighlightingOnLoad,0):$ssrc[a].attachEvent?$ssrc[a].attachEvent("onload",hljs.initHighlightingOnLoad):$ssrc[a].onload=hljs.initHighlightingOnLoad);(function(a,
b,f,g,c,d,e){a.GoogleAnalyticsObject=c;a[c]=a[c]||function(){(a[c].q=a[c].q||[]).push(arguments)};a[c].l=1*new Date;d=b.createElement(f);e=b.getElementsByTagName(f)[0];d.async=1;d.src=g;e.parentNode.insertBefore(d,e)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","{{ site.google_analytics }}","auto");ga("send","pageview")};
!function(){window.addEventListener?window.addEventListener("load",dfr,0):window.attachEvent?window.attachEvent("onload",dfr):window.onload=dfr}();
    </script>
</body>
</html>



